.item {
    display: flex;
    justify-content: center;
    font-family: Poppins, serif;
    transition: .5s;
    min-height: 350px;
    width: 330px;
}

.skill {
    position: relative;
    background-color: #0c0c0c;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 30px;
    margin-top: 20px;
    padding: 65px 15px 25px;
    width: 295px;
    min-height: 200px;
}

.icon {
    position: absolute;
    top: -40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border: 3px solid #111111;
    border-radius: 100%;
    background-color: #000000;
    transition: .5s;
}

.icon img {
    height: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.skill h3 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
    transition: .3s;
}

.skill p {
    text-align: center;
    color: #c1bfbf;
    font-size: 15px;
    margin-bottom: 20px;
}

.triangle {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.triangle img {
    width: 45px;
}

.item:hover .skill h3 {
    color: #0d82c6;
}

.item:hover .icon {
    border: 3px solid #0d82c6;
}

.item:hover .icon {
    transform: rotate(360deg);
}

.item:hover {
    transform: translateY(-20px);
}

@media screen and (max-width: 385px) {
    .skill p {
        font-size: 14px;
    }
}

@media screen and (max-width: 321px) {
    .skill {
        width: 280px;
    }

    .item {
        width: 280px;
    }
}

@media screen and (max-width: 290px) {
    .skill {
        width: 250px;
    }

    .item {
        width: 250px;
    }

    .icon {
        width: 70px;
        height: 70px;
    }

    .skill p {
        font-size: 13px;
        margin-bottom: 30px;
    }
}

