.name_email_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.form_group {
    padding: 10px 0;
}

.form_group input {
    height: 28px;
    padding: 10px 0 10px 15px  ;
    color: #ffffff;
    background-color: #0c0c0c;
    border: 1px solid #0c0c0c;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    outline: none;
    transition-duration: .5s;
}
.form_group input:focus {
    border: 1px solid #2f2f2f;
    transition: .5s;
}

form {
    width: 100%;
    min-height: 500px;
    padding: 50px 70px;
}

textarea {
    border: 1px solid #0c0c0c;
    background-color: #0c0c0c;
    font-family: Poppins, serif;
    padding: 10px 0 10px 15px;
    cursor: text;
    color: #ffffff;
    overflow: auto;
    min-height: 270px;
    resize: vertical;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: start;
    transition: .5s;
    overflow-wrap: break-word;
    width: 100%;
    outline: none;
}

textarea:focus {
    border: 1px solid #2f2f2f;
    transition: .5s;
}

@media screen and (max-width: 1345px) {
    .name_email_container {
        flex-direction: column;
    }
}

@media screen and (max-width: 935px) {
    form {
        width: 80%;
    }
}
@media screen and (max-width: 765px) {
    form {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 545px) {
    form {
        padding: 40px 30px 5px;
    }
}
@media screen and (max-width: 350px) {
    form {
        padding: 40px 30px 5px;
    }
}
@media screen and (max-width: 290px) {
    form {
        padding: 20px 30px 5px;
    }
}