* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #36a2e7;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #214cc6;
}