.contactForm {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_container {
    width: 75%;
    min-height: 80%;
    display: flex;
    align-items: start;
}

form {
    width: 100%;
    min-height: 500px;
    padding: 50px 70px;
}

.image_container {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chakres_box {
    width: 500px;
    position: relative;
}

.namePLUSemail_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1435px) {
    .container {
        width: 80%;
    }
    .form_container {
        width: 80%;
    }
}

@media screen and (max-width: 1345px) {
    .container {
        width: 95%;
    }
    .form_container {
        width: 95%;
    }
    .namePLUSemail_container {
        flex-direction: column;
    }
}

@media screen and (max-width: 1080px) {
    .chakres_box {
        width: 400px;
    }
}
@media screen and (max-width: 935px) {
    .form_container {
        flex-direction: column;
        align-items: center;
    }
    form {
        width: 80%;
    }
}
@media screen and (max-width: 765px) {
    form {
        padding: 40px 30px;
    }
}

@media screen and (max-width: 545px) {
    .chakres_box {
        width: 300px;
    }
    form {
        padding: 40px 30px 5px;
    }
}
@media screen and (max-width: 350px) {
    form {
        padding: 40px 30px 5px;
    }
}
@media screen and (max-width: 290px) {
    .chakres_box {
        width: 270px;
    }
    form {
        padding: 20px 30px 5px;
    }
}
