.link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Poppins, serif;
    transition: .5s;
}

.link:hover {
    color: #0d82c6;
}

.menu:hover {
    color: white;
    background-color: #0d82c6;
    transition: .3s;
    cursor: pointer;
}